.Mui-selected,
.Mui-selected:hover {
    color: #fff !important;
    background-color: #04273c !important;
}

html,
body {
    color: #04273c;
    font-family:
        'Calibre Web Regular',
        '-apple-system',
        'BlinkMacSystemFont',
        '"Segoe UI"',
        'Roboto',
        '"Helvetica Neue"',
        'Arial',
        'sans-serif',
        '"Apple Color Emoji"',
        '"Segoe UI Emoji"',
        '"Segoe UI Symbol"';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    margin:0px;
}

#tooltip { 
    display: none; 
    position: absolute;
    width: 340px;
    margin: 20px;
    margin-top: -20px;
    border: 1px solid #537990;
    padding: 15px;
    border-radius: 4px;
    z-index: 15;
}

#largetooltip { 
    display: none;
    width: calc(100%-20px);
    top: 0px;
    left: 5px;
    right: 5px;
    bottom: 0px;
    display: none;
    position: absolute;
    height: 100vh;
    border-radius: 4px;
    z-index: 15;
    background-color:rgba(255, 255, 255, 0.822);
}

#exit { 
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-right: 2px;
    position: absolute;
    right: 30px;
    cursor: pointer;
}

#inter {
    max-width: 750px;
    margin: 30px auto;
    position: relative;
    padding: 30px;
    background-color: white;
    border: 1px solid #537990;
}

#exit { 
    margin: 0px;
    margin-right: 10px;
    z-index: 100;
    position: absolute;
}

.map-canvas path {
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

@media only screen and (max-width: 600px) {

    #tooltip { 
        width: 190px;
    }

    button.MuiButtonBase-root {
        font-size: 13px;
    }
}

li.MuiListSubheader-root {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 13px;
    color: #04273c;
    font-family: 'Calibre Web Regular';
    letter-spacing: 1px;
}

fieldset.MuiOutlinedInput-notchedOutline {
    border-color: #737F87;
}

li.MuiButtonBase-root {
    font-size: 19px;
    color: #04273c;
    font-family: 'Calibre Web Regular';
}

path.LineString {
    stroke-width: 2.5px;
    filter: drop-shadow(-1px -1px 0px #737F87) drop-shadow(1px -1px 0px #737F87) drop-shadow(1px 1px 0px #737F87) drop-shadow(-1px 1px 0px #737F87);
}

.controller {
    display: flex;
    justify-content: center;
}

.reset, .pnw, .tx, .nd {
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    margin-left: 30px;
    width: auto;
    z-index: 5;
}

.reset-button {
    width: auto;
    border: 1px solid #737F87;
    padding: 6px 12px;
    border-radius: 35px;
    cursor: pointer;
}

.reset-button:hover {
    background: #c2cdd4;
}

.variable {
    font-size: 13px;
    margin: 0px 0px 10px;
    padding: 5px 8px;
    border-radius: 3px;
    display: inline-block;
    color: white;
}

.variable.true, .legend-icon.true, .variable.TRUE {
    background-color: #50b161;
}

.variable.false, .legend-icon.false, .variable.FALSE {
    background-color: #ff9a98;
    color: #04263cac;
}

.variable.null, .legend-icon.unknown {
    background-color: #c5ced3;
    color: #04263cac;
}

.variable.public, .legend-icon.public {
    background-color: #755EA6;
}

.variable.private, .legend-icon.private {
    background-color: #F4A25F;
}

.variable.mixed, .legend-icon.mixed {
    background-color: #74645E;
}

.canvas {
    margin: 40px auto 0px;
    max-width: 900px;
    position: relative;
}

.map-canvas {
    border: none;
    color: #fff;
}

circle {
    stroke-width: 1px;
    stroke: #737F87;
}

select#variable {
    display: grid;
    margin-bottom: 20px;
}

input[type="range"] {
    width: 20%;
}

.select-label {
    margin-bottom: 5px;
}

#inner a {
    color: #04273c;
    border-bottom: 1px solid #04273c;
}

.select {
    margin-bottom: 20px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

path.hover,
circle.hover {
    cursor: pointer;
}

.MuiInputBase-root { font-family: 'Calibre Web Regular'; font-size: 19px; color: #04273c; }

.table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

h2 {
    margin-block-start: 0px;
    margin-block-end: 10px;
    font-family: 'Calibre Web Bold';
    line-height: 100%;
    color: #04273c;
    -webkit-font-smoothing: antialiased;
}

.minor-label {
    font-size: 15px;
    opacity: 50%;
    margin-top: 10px;
}

.divider {
    height:1px;
    width: auto;
    color: #A6B2BA;
}

@keyframes ldio-nt6a5h3amtm {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ldio-nt6a5h3amtm div {
    position: absolute;
    width: 86px;
    height: 86px;
    border: 10px solid #88c4f4;
    border-top-color: transparent;
    border-radius: 50%;
}

.ldio-nt6a5h3amtm div {
    animation: ldio-nt6a5h3amtm 1s linear infinite;
    top: 100px;
    left: 100px
}

.loadingio-spinner-rolling-ug3qwu8l9v {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-nt6a5h3amtm {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-nt6a5h3amtm div {
    box-sizing: content-box;
}

.legend {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 700px;
    margin: auto;
    width: 100%;
}

.legend-container {
    display: grid;
    margin: 0px 20px;
}

.legend-colors, .legend-shapes { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-items: stretch;
}

.legend-shapes {
    margin-top: 20px;
}

.legend-icon {
    width: 20px;
    height: 20px;
    border: 1px solid #737F87;
    border-radius: 5px;
}

.legend-icon.state {
    border:0px solid rgba(0,0,0,0);
    background-image: url('/public/stateoutline.png');
    background-size: cover;
    height:22px;
    width:22px;
}
.legend-icon.within {
    border-radius: 50%
}
.legend-icon.pipeline {
    background: linear-gradient(165deg, 
    rgba(0,0,0,0) calc(50% - 3px), 
    #737F87 calc(50% - 2px), 
    #FFFFFF calc(50% - 1px), 
    #FFFFFF calc(50% + 1px), 
    #737F87 calc(50% + 2px), 
    rgba(0,0,0,0) calc(50% + 3px))
}

.pnw {
    position: absolute;
    top: 0px;
    left: 0px;
}

.tx { 
    position: absolute;
    bottom: 190px;
    left: 43%;
}

.nd { 
    position: absolute;
    top: 35px;
    left: 42%;
}
.mw {
    position: absolute;
    top: 40%;
    left: 30%;
}

.reset-button {
    background: white;
}

@media only screen and (max-width: 760px) {
    .nd {
        top: -15px;
    }
    .tx { 
        left: 47%;
        bottom: 20px;
    }
    .pnw {
        top: -45px;
    }
    .mw {
        top: 40%;
        left: 30%;
    }
}
@media only screen and (max-width: 550px) {
    .nd {
        top: -25px;
    }
    .tx { 
        left: 47%;
        bottom: 25px;
    }
    .pnw {
        top: -50px;
    }
    .mw {
        top: 30%;
        left: 28%;
    }
}

path[fill='#50b161']:hover,circle[fill='#50b161']:hover {
    fill:#379848;
}

path[fill='#ff9a98']:hover,circle[fill='#ff9a98']:hover {
    fill:#FF6663;
}

path[fill='#c5ced3']:hover,circle[fill='#c5ced3']:hover {
    fill:#ACB5BA;
}

path[fill='#755EA6']:hover,circle[fill='#755EA6']:hover {
    fill:#5C458D;
}

path[fill='#F4A25F']:hover,circle[fill='#F4A25F']:hover {
    fill:#DB8946;
}

path[fill='#74645E']:hover,circle[fill='#74645E']:hover {
    fill:#5B4B45;
}

path[stroke='#50b161'].LineString:hover {
    stroke:#379848;
}
path[stroke='#ff9a98'].LineString:hover {
    stroke:#FF6663;
}
path[stroke='#c5ced3'].LineString:hover {
    stroke:#ACB5BA;
}
path[stroke='#755EA6'].LineString:hover {
    stroke:#5C458D;
}
path[stroke='#F4A25F'].LineString:hover {
    stroke:#DB8946;
}
path[stroke='#74645E'].LineString:hover {
    stroke:#5B4B45;
}